<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar_login.ejs') %>

<div class="container">
    <div class="row mt-5">
        <h1>Registration Page</h1>
        <hr>
        <h1>Registration form</h1>
        </div>
        
        <form method="post" >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" required id="email" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" required id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-warning" role="button" aria-disabled="true" href="/login">Login</a>
          </form>
        </div>
<%- include('./partials/footer.ejs') %>
